.chat-messages {
  flex: 6;

  border: 1px solid whitesmoke;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-end;
  min-height: 0;
  max-height: 400px;
  overflow-y: scroll;
  padding: 5px 0;
}